<section class="section-bg-2">
  <div class="section-bg-overlay"></div>

  <!--begin container-->
  <div class="container">
    <!--begin row-->
    <div class="row">
      <!--begin col md 8 -->
      <div class="col-md-10 mx-auto padding-bottom-40">
        <h2
          class="section-title"
          style="padding-bottom: 50px; text-align: center; color: #fff"
        >
          Getuigenissen
        </h2>

        <!--begin testimonials carousel -->
        <div
          id="carouselIndicators2"
          class="carousel slide"
          data-ride="carousel"
        >
          <!--begin carousel-indicators -->
          <ol class="carousel-indicators testimonials-indicators">
            <li
              data-target="#carouselIndicators2"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#carouselIndicators2" data-slide-to="1"></li>
          </ol>
          <!--end carousel-indicators -->

          <!--begin carousel-inner -->
          <div class="carousel-inner">
            <!--begin carousel-item -->
            <div class="carousel-item active">
              <!--begin testim-inner -->
              <div class="testim-inner">
                <img
                  src="images/britt.jpg"
                  alt="testimonials"
                  class="testim-img testim-innerimg"
                />

                <p
                  style="
                    background-color: #fff;
                    color: grey;
                    text-shadow: none;
                    text-decoration: none;
                  "
                >
                  The attention of a traveller, should be particularly turned to
                  the various works of nature, to mark the distinctions of the
                  climates he may explore, and to offer such useful observations
                  on the different productions as may occur.
                </p>
                <img
                  src="images/tricon-01.svg"
                  style="width: 50px; margin-top: -50px"
                />
                <h5 style="color: #fff"><b>Britt</b></h5>
              </div>
              <!--end testim-inner -->
            </div>
            <!--end carousel-item -->

            <!--begin carousel-item -->
            <div class="carousel-item">
              <!--begin testim-inner -->
              <div class="testim-inner">
                <img
                  src="images/margaux.jpg"
                  alt="testimonials"
                  class="testim-img testim-innerimg"
                />

                <p
                  style="
                    background-color: #fff;
                    color: grey;
                    text-shadow: none;
                    text-decoration: none;
                  "
                >
                  The attention of a traveller, should be particularly turned to
                  the various works of nature, to mark the distinctions of the
                  climates he may explore, and to offer such useful observations
                  on the different productions as may occur.
                </p>
                <img
                  src="images/tricon-01.svg"
                  style="width: 50px; margin-top: -50px"
                />

                <h5 style="color: #fff"><b>Margaux</b></h5>
              </div>
              <!--end testim-inner -->
            </div>
            <!--end carousel-item -->
          </div>
          <!--end testimonials carousel -->
        </div>
        <!--end col md 8-->
      </div>
      <!--end row-->
    </div>
    <!--end container-->
  </div>
</section>
