<section class="section-grey" id="gallery" style="max-width: 100%">
  <!--begin container -->
  <div class="container" style="max-width: 100%">
    <!--begin row -->
    <div class="row">
      <!--begin col-md-12 -->
      <div
        class="col-md-12 text-center padding-bottom-20"
        style="max-width: 100%"
      >
        <h2 class="section-title">Impressies</h2>
      </div>
      <!--end col-md-12 -->
    </div>
    <!--end row -->
  </div>
  <!--end container -->
  <!--begin row-->
  <div class="padding-0">
    <div class="row padding-0" style="max-width: 100%">
      <!--begin col-md-4 -->
      <div class="col-md-3 col-sm-6 padding-0">
        <!--begin popup-gallery-->
        <a href="images/mieke2.jpg" target="_blank" class="maxwidth">
          <img src="images/web-1.jpg" alt="mieke" class="img-fluid" />
        </a>
        <!--end popup-gallery-->
      </div>
      <!--end col-md-4 -->

      <!--begin col-md-4 -->
      <div class="col-md-3 col-sm-6 padding-0">
        <!--begin popup-gallery-->
        <a href="images/nails2.jpg" target="_blank" class="maxwidth">
          <img src="images/web-2.jpg" alt="pic" class="img-fluid" />
        </a>
        <!--end popup-gallery-->
      </div>
      <!--end col-md-4 -->

      <!--begin col-md-4 -->
      <div class="col-md-3 col-sm-6 padding-0">
        <!--begin popup-gallery-->
        <a href="images/instituut.png" target="_blank" class="maxwidth">
          <img src="images/web-3.jpg" alt="pic" class="img-fluid" />
        </a>
        <!--end popup-gallery-->
      </div>
      <!--end col-md-4 -->

      <!--begin col-md-4 -->
      <div class="col-md-3 col-sm-6 padding-0">
        <!--begin popup-gallery-->
        <a href="images/nails.jpg" target="_blank" class="maxwidth img-fluid">
          <img src="images/web-4.jpg " alt="pic" class="img-fluid" />
        </a>
      </div>
      <!--end popup-gallery-->
    </div>
    <!--end col-md-4 -->
  </div>
  <!--end row -->
</section>
