<section class="home-section" id="home">
  <div class="home-section-overlay"></div>

  <!--begin container -->
  <div class="container">
    <!--begin row -->
    <div class="row">
      <!--begin col-md-12-->
      <div class="col-md-12 text-center" style="position: relative">
        <h1>R o m e i j n</h1>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <p style="color: white">
              Op de Berlaarsesteenweg vlakbij het centrum van Lier vind je
              schoonheidssalon Romeijn. Hier kan je terecht voor een brede
              waaier aan schoonheidsbehandelingen: pedicure, maquillage,
              manicure, gelaat, epilatie, gellak, workshops, etc. Het salon is
              goed bereikbaar met het openbaar vervoer of met de auto. Ruime
              parkeergelegenheid.
            </p>
          </div>
          <div class="col-md-2"></div>
        </div>
        <a
          href="https://widget.treatwell.be/salon/romeijn/?utm_source=keynes-gcv-romeijn&utm_medium=referral&utm_campaign=externe+button"
          class="btn-green scrool"
          target="_blank"
          >Afspraak maken</a
        ><br />

        <a href="#services" class="arrow-down scrool"
          ><i class="pe-7s-angle-down-circle"></i
        ></a>
      </div>
      <!--end col-md-12-->
    </div>
    <!--end row -->
  </div>
  <!--end container -->
</section>
