<section class="section-white" id="services">
  <!--begin container -->
  <div class="container">
    <!--begin row -->
    <div class="row align-items-center gap-5">
      <!--begin col-md-12 -->
      <div class="col-md-12 text-center">
        <h2 class="section-title">Menu kaart</h2>
      </div>
      <!--end col-md-12 -->

      <!--Start 1-->
      <div class="col-md-9 new-content">
        <p>Ervaar de kracht van <strong>Micro-Needling.:</strong></p>
        <p>
          Onze innovatieve dienstverlening transformeert uw huid door de
          natuurlijke productie van collageen en elastine te stimuleren. Of u nu
          worstelt met fijne lijntjes, rimpels, acnelittekens of striae,
          Micro-Needling biedt een veilige en minimale invasieve oplossing. Deze
          procedure maakt gebruik van gecontroleerde microverwondingen om uw
          huid te revitaliseren en uw jeugdige uitstraling te herstellen. Het is
          niet zomaar een behandeling, maar een bewuste keuze voor uw eigen
          welzijn en schoonheid.. Kies voor Micro-Needling en ontketen de
          natuurlijke vernieuwingskracht van uw huid vandaag nog.
        </p>
      </div>
      <div class="col-md-3">
        <img src="/images/img-1.jpg" alt="img" class="img-fluid" />
      </div>
      <!--End -->
      <div class="mt-5 col-md-12"></div>
      <!--Start 2-->

      <div class="col-md-3">
        <img src="/images/img-2.jpg" alt="img" class="img-fluid" />
      </div>
      <div class="col-md-9 new-content">
        <p>
          Ontdek de luxe van een gladde, haarvrije huid met
          <strong>Laser Ontharing:</strong>
        </p>
        <p>
          Onze geavanceerde service belooft u de bevrijding van ongewenst haar,
          zonder de ongemakken van traditionele ontharingsmethoden. Of u nu
          ongewenst haar op uw gezicht, benen, armen of een ander lichaamsdeel
          wilt aanpakken, Laser Ontharing biedt een duurzame oplossing. Deze
          behandeling maakt gebruik van geavanceerde lasertechnologie om de
          haarfollikels te richten, wat resulteert in een langdurig gladde huid.
          Laser Ontharing is meer dan alleen een esthetische behandeling - het
          is een investering in uw zelfvertrouwen. Kies voor Laser Ontharing en
          geniet vandaag nog van de vrijheid en zelfverzekerdheid van een
          haarvrije huid.
        </p>
      </div>
      <div class="mt-5 col-md-12"></div>
      <!--End -->

      <!--Start 3-->
      <div class="col-md-9 new-content">
        <p>
          Gun uw voeten de zorg die ze verdienen met onze deskundige
          <strong>Pedicure</strong> service:
        </p>
        <p>
          Voetverzorging is de specialiteit van Miek Romeijn, met name gericht
          op gespecialiseerde voetzorg. Of u nu behoefte heeft aan routine
          onderhoud, behandeling van eelt of ingegroeide nagels, of gewoon wilt
          ontspannen met een verzorgende voetmassage, Miek Romeijn levert elke
          keer weer uitzonderlijke resultaten. Onze pedicure behandelingen zijn
          meer dan een eenvoudige verwennerij, ze zijn een essentiële
          investering in uw algehele welzijn. Kies voor onze Pedicure service en
          ervaar vandaag nog de weldaad van gezonde, goed verzorgde voeten.
        </p>
      </div>
      <div class="col-md-3">
        <img src="/images/img-3.jpg" alt="img" class="img-fluid" />
      </div>
      <div class="mt-5 col-md-12"></div>
      <!--End -->

      <!--Start 4-->
      <div class="col-md-3">
        <img src="/images/img-4.jpg" alt="img" class="img-fluid" />
      </div>
      <div class="col-md-9 new-content">
        <p>
          Laat uw innerlijke schoonheid stralen met onze
          <strong> Maquillage</strong> service:
        </p>
        <p>
          Hier draait alles om kleur, creativiteit en het vieren van uw
          individualiteit. Of u nu een frisse dag look zoekt of een uitdagende
          glamourlook voor een speciale avond, wij toveren uw visie tot leven.
          Onze Maquillage service is meer dan alleen het aanbrengen van make-up.
          Het is een sprankelende viering van uw persoonlijke stijl en
          schoonheid. Wij geloven dat elke persoon uniek is, en onze taak is om
          deze uniciteit naar voren te brengen, uw beste kenmerken te
          accentueren en u te laten stralen van binnen en van buiten. Laat ons u
          meenemen op een vrolijke, kleurrijke reis en de magie van make-up
          ontdekken. Verwen uzelf, voel u fantastisch en straal zelfvertrouwen.
          Ervaar vandaag nog de vreugde van kleur en glans.
        </p>
      </div>

      <div class="mt-5 col-md-12"></div>
      <!--End -->

      <!--Start 5-->
      <div class="col-md-9 new-content">
        <p>
          Verwen uzelf met onze hoogwaardige <strong>Gelaatsverzorging:</strong>
        </p>
        <p>
          Of u nu een diepe reiniging, exfoliatie, hydratatie of een rustgevende
          behandeling zoekt, wij staan klaar om u een luxueuze en ontspannende
          ervaring te bieden. Onze Gelaatsverzorging gaat verder dan de
          traditionele huidverzorgingsroutine - het is een complete
          wellnessbeleving die u helpt ontspannen, verjongen en uw huid te
          voeden. We gebruiken alleen de meest effectieve en huidvriendelijke
          producten, ontworpen om uw huid te verbeteren en uw natuurlijke
          schoonheid te benadrukken. Gelaatsverzorging is meer dan een dienst,
          het is een essentiële stap naar uw huidgezondheid en welzijn. Kies
          voor onze Gelaatsverzorging service en ervaar het verschil van een
          goed verzorgde, stralende huid. Trakteer uzelf op een moment van pure
          verwennerij en laat uw huid ons bedanken.
        </p>
      </div>
      <div class="col-md-3">
        <img src="/images/img-5.jpg" alt="img" class="img-fluid" />
      </div>
      <div class="mt-5 col-md-12"></div>
      <!--End -->

      <!--Start 2-->
      <div class="col-md-3">
        <img src="/images/img-6.jpg" alt="img" class="img-fluid" />
      </div>

      <div class="col-md-9 new-content">
        <p>
          Laat de dromen van uw kind werkelijkheid worden met onze
          <strong>"Make-Up Verjaardagsfeest"</strong> experience!
        </p>
        <p>
          Deze unieke ervaring is speciaal ontworpen om kinderen op hun speciale
          dag in het zonnetje te zetten. Samen met hun vrienden zal de jarige de
          fijne kneepjes van make-up leren van een echte professional. Ze
          krijgen de kans om te experimenteren met kleuren en glitters, leren
          over huidverzorging en ontdekken hoe ze hun natuurlijke schoonheid
          kunnen accentueren. Alles op een leuke, speelse manier die perfect
          past bij hun leeftijd en persoonlijkheid.
        </p>
        <p>
          Maar dat is nog niet alles! We zorgen voor een volledig op maat
          gemaakte verjaardag ervaring. Het feest zal niet compleet zijn zonder
          een heerlijke verjaardagstaart en smakelijke pannenkoeken, zorgvuldig
          voorbereid om de verjaardag vreugde te verhogen. Bij ons draait het
          allemaal om het creëren van onvergetelijke herinneringen. We willen
          dat elk kind zich speciaal voelt op hun speciale dag. Kies voor onze
          "Make-Up Verjaardagsfeest" ervaring en maak van uw kind's verjaardag
          het hoogtepunt van hun jaar!
        </p>
        <p>
          Neem gerust contact met ons op via telefoon of e-mail om een op maat
          gemaakt voorstel te ontvangen. We kijken ernaar uit om samen met u de
          perfecte verjaardag voor uw kind te plannen!
        </p>
      </div>

      <div class="mt-5 col-md-12"></div>
      <!--End -->
    </div>
    <!--end row -->
  </div>
  <!--end container -->

  <!--end services-wrapper -->
</section>
