{{ template "_internal/google_analytics.html" . }}
<!-- jquery  scripts -->
<script src="/js/jquery-2.2.4.min.js"></script>
<!-- poper js -->
<script src="/js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<!-- jquery waypoints -->
<script src="/js/waypoints.min.js"></script>
<!-- end paralax -->
<script src="/js/skrollr.min.js"></script>
<!-- youtube background -->
<script src="/js/jquery.mb.YTPlayer.min.js"></script>
<!-- jquery coundown -->
<script src="/js/jquery.countdown.min.js"></script>
<!-- jquery counter up -->
<script src="/js/jquery.counterup.min.js"></script>
<!-- jquery magnify popup -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<!-- jquery scoll up -->
<script src="/js/jquery.scrollUp.min.js"></script>
<!-- jquey owl carsole -->
<script src="/js/owl.carousel.min.js"></script>
<!-- jquery paartcile js -->
<script src="/js/particles.min.js"></script>
<!-- jquey title js -->
<script src="/js/tilt.jquery.min.js"></script>
<!-- jquery slider range -->
<script src="/js/slider-range.js"></script>
<!-- app js -->
<script src="/js/app.js"></script>
<!-- get in touch  -->
<script src="/js/getintouch.js"></script>