<!DOCTYPE html>
<html lang="zxx">
  {{partial "head.html"}}

  <body>
    <!--begin home section  -->

    {{partial "home.html"}}

    <!--end home section -->

    <!--begin section-white -->
    {{ partial "white.html"}}
    <!--end section-white -->

    <!--begin testmoniols -->
    {{ partial "clients.html"}}
    <!--end testimoniols -->

    <!--begin gallery section -->
    {{partial "gallery.html"}}
    <!--end gallery section -->

    <!--Contact section-->
    {{partial "contact.html"}}
    <!--End contact section-->

    <!--begin footer -->
    {{partial "footer.html"}}
    <!--end footer -->

    <!-- Load JS here for greater good =============================-->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.scrollTo-min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.nav.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/custom.js"></script>
  </body>
</html>
